@import './../../../assets/styles/colors.scss';
@import './../../../assets/styles/fonts.scss';

.parent {
  margin-top: 50px;

  h1 {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: $dark-2;
    margin-bottom: 12px;
  }
}

.block {
  max-width: 1200px !important;
  height: 410px;
  margin-right: auto;
  margin-left: auto;

  &_container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    &_content {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $header-dark-bg;
      width: 292px;
      height: 200px;

      &_in {
        height: 200px;
        padding: 40px 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: end;

        &_img {
          max-height: 78px;
          width: auto;
          object-fit: contain;
        }

        &_paragraph {
          font-weight: normal;
          font-size: 20px;
          line-height: 24px;
          color: $dark-1;
          margin-top: 20px;
        }

      }

    }

  }

}