@import './../../assets/styles/colors.scss';
@import './../../assets/styles/fonts.scss';

.headerBlock {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    background-color: $header-light-bg;
    z-index: 999;

    .block {
        width: 100%;
        height: 44px;
        display: flex;
        text-align: center;

        & p {
            margin: 10px auto;
            font-size: 13px;
            font-weight: 400;
            font-family: $font-fam;
        }
    }

    .globalNav {
        width: 100%;
        background-color: $header-dark-bg;
        display: flex;
        justify-content: center;
        align-content: center;

        &_content {
            height: 44px;
            width: 996px;
            align-content: center;
        }

        &_list {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .nav_item {
                color: $text-color;
                font-size: 12px;
                font-weight: 400;
                font-family: $font-fam;
                transition: 0.8s;

                &:hover {
                    color: $hover-text-color;
                    transition: 0.8s;
                }

                &.active {
                    color: $active-text-color;
                }

            }

            .active svg path{
                fill: $active-text-color;
            }

        }

    }
}