@import './../../assets/styles/colors.scss';
@import './../../assets/styles/fonts.scss';

.headerBlock {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 999;
    transition: background-color 0.5s ease;
    color: $text-color;

    &.scrolled {
        background-color: $header-light-bg;
    }

    .globalNav {
        width: 100%;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-content: center;

        &_content {
            height: 54px;
            width: 996px;
            align-content: center;
        }

        &_list {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .nav_item {
                font-size: 12px;
                font-weight: 400;
                font-family: $font-fam;
                transition: 0.5s;

                &:hover {
                    color: $hover-text-color;
                    transition: 0.5s;
                }

                &.active {
                    color: $active-text-color;
                }

            }

            .active svg path{
                fill: $active-text-color;
            }

        }

    }
}
