$dark-0: #000;
$dark-1: #1d1d1f;
$header-dark-bg: #F1F1F1;
$header-light-bg: #FFF;
$scrollBar-text: #f5f5f7;
$text-color: #333333;
$hover-text-color: #5E8BCE;
$active-text-color: #5E8BCE;
$block-text-head: #212529;
$block-text: #828282;