@import './../../assets/styles/colors.scss';

:root {
  --swiper-theme-color: rgb(153, 153, 153) !important;
  --swiper-navigation-size: 30px !important;
  --swiper-navigation-sides-offset: 40px !important;
}

.swiperBlock {
  margin-top: 20px;
  width: 100%;
  height: 385px;
  overflow-x: hidden;
  display: flex;

    .slidesImage {
      width: 100%;
      height: 100%;
    }
}